

body, html {
    background-color: #000;
    overflow: hidden;
    margin:0; 
    padding:0; 
    height:100%;

}


#sidebar {
	position: absolute;
	background-color: #ccc;
	width: 240px;
	padding: 10px;
	display: block;
	/*overflow: hidden;*/
	z-index: 30;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 0px;        	
        min-height: 100%; /* real browsers */
        height: 100%;
        
}

#sidebar h2 {
	color: #333;
	font-weight: normal;
	font-size: 18px;
}


#playerHolder {

      
}

a.toggleLink {
  font-size: 30px;
  padding: 10px;
  left: 260px;
  position: absolute;
  border-radius: 0px 20px 20px 0px;
  background-color: #333;
  text-decoration: none;
}

a.channelLink {
  clear: both; 
  line-height: 24px;
  height: 50px;
}

a.channelLink img {
  width: 48px;
  height: 48px; 
  float: left;
}

.nano { background: width: 100%; height: 500px; }
.nano .content { padding: 10px; }
.nano .pane   { background: #888; }
.nano .slider { background: #111; }
